biswa-world-demo-api/src/main/mule/biswa-world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cdb55ac6-d0e0-4147-ba8b-81dc39627fef" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e6c09a95-fac8-4856-b92b-9b6777843264" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="68924ee0-73e5-4a44-9460-6743bb8cd673" file="local.properties" />
	<flow name="biswa-world-demo-apiFlow" doc:id="498e881b-e869-40b3-a39a-f65a3e95038d" >
		<http:listener doc:name="Listener" doc:id="02039bdb-2601-4c6b-9fd8-b474898206fa" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="d95d9876-1fbf-464c-a0eb-78b2c217688d" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
